.reach-us-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: auto;
    /* background-color: #f5f5f5; */
    background: rgb(252, 249, 249);
    /* max-width: 75rem; */
    padding: 0rem 3rem;
    margin: 1rem auto;
    flex-wrap: wrap;
}

.red {
    margin: 5px;
}

.footprints {
    font-size: 2rem;
    margin: 0rem;
}

.reach-us-form {
    /* background-color: white; */
    background: rgb(252, 249, 249);
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 4px 10px rgba(31, 31, 28, 0.5);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.reach-us-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.reach-us-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.reach-us-form input,
.reach-us-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.reach-us-form textarea {
    resize: vertical;
}

.reach-us-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.reach-us-form button:hover {
    background-color: #0056b3;
}

.information {
    padding: 1rem 2rem;
}