.class {
    height: auto;
    min-height: 7rem;
    width: 100vw;
    margin: 0 auto;
    /* box-shadow: 0 4px 10px rgba(31, 31, 28, 0.5);
    border-radius: 2rem; */
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0rem;
}

.SignIn {
    padding: 0.75rem 2rem;
    background-color: #0975a8;
    border-radius: 0.75rem;
    color: white;
    margin: 10px;
}

.paragraph {
    font-size: small;
}