
.bg{
    background-color: #ffffff;
    background-image: url('../public/1.png');
    background-size: 1500px 1500px; 
    background-position: top left;
    background-repeat: repeat; 
    min-height: 100vh;
}
